@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --teksti: #333333;
    --tausta: #eeeeee;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);
}

main {
    font-size: 1.1em;
    line-height: 1.3m;
}

section {
    max-width: 900px;
    width: 70%;
    margin: 20px auto;
}